.canvas{
    position: relative;
    width: 800px;
    height: 1200px;
    margin: 20px auto 0;
    background-color: #eff8a0;
    background-image: url("images/grid_20_20.png");
    background-repeat: no-repeat;

}

h1, h2, h3, h4, p{
    margin: 0;
    padding: 0;
}

/* ユニットの共通スタイル */
.unit {
text-align: justify;
  position: absolute;
  overflow: hidden;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  font-size: 16px;
  /* background-color: #f0f0f0; */
  box-sizing: border-box;
}


/* 個別レイアウト */
#box1 {
  font-size: 36px;
  top: 100px;
  left: 120px;
  width: 200px;
  height: 90px;
}

#box1-1 {
  top: 120px;
  left: 200px;
  width: 120px;
  height: 70px;
}

#box2 {
  top: 195px;
  left: 120px;
  width: 200px;
  height:300px;
}

#box3 {
  top: 320px;
  left: 320px;
  width: 200px;
  height: 80px;
}
